Flask==0.9
Werkzeug==0.8.3
wsgiref==0.1.2
Jinja2==2.6

redis==2.7.2
hiredis==0.1.1

foursquare==20130402
httplib2==0.8
poster==0.8.1

Cython==0.18
https://github.com/SiteSupport/gevent/archive/1.0rc2.tar.gz#egg=gevent
greenlet==0.4.0

raven==3.1.11
blinker==1.2

gunicorn==0.17.2
setproctitle==1.1.7

Flask-Assets==0.8
webassets==0.8
cssmin==0.1.4

Flask-KVSession==0.3.2
itsdangerous==0.17
simplekv==0.6

requests==1.2.0

mongokit==0.8.3
pymongo==2.5
