.nowrap {
    white-space: nowrap;
}

.brand.fsq-brand {
    color: #fff;
    font-size: 16pt;
    line-height: 12pt;
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin: 0 6px 0 0;
}

.navbar__legal {
    margin: 0 40px 0 0;
    padding-left: 24px;
    background: url('/static/img/poweredByFoursquare_16x16.png') 0 50% no-repeat;
}

.form__height_large {
    margin: 7px 0 0 0;
}

.search-results-container {
    margin-top: 35px;
}

.search-results-count {
    color: #333;
    font-size: 12pt;
    margin-left: 1em;
}

.search-result {
    background-color: #E1F1FA;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
}
.search-result td {
    padding: 0;
    margin: 0;
}
.search-result-icon-container {
    width: 74px;
    vertical-align: top;
}
.search-result-icon {
    margin: 15px;
    width: 44px;
    height: 44px;
}
.search-result-header {
    margin: 5px 0 0;
    font-size: 16pt;
}
.search-result-label {
    background: #999999 url('https://playfoursquare.s3.amazonaws.com/press/logo/icon-16x16.png') 5px 4px no-repeat;
    padding: 0 5px 0 26px;
    line-height: 24px;
    display: inline-block;
    margin-bottom: 15px;
}
.search-result-stats {
    margin-left: 10px;
    line-height: 24px;
    font-size: 12pt;
    position: relative;
    bottom: -1px;
}
.search-result-controls {
    margin-right: 15px;
}

.search-result.irrelevant {
    background-color: #FCF9E8;
}

.search-result.irrelevant + .search-result:not(.irrelevant) {
    margin-top: 24px;
}

.button-results-submit {
    margin-top: 20px;
}

.infobox {
    background-color: #f9f9f9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 18px;
    box-sizing: border-box;
    font-size: 15px;
}

.footer__foursquare-powerded {
    height: 80px;
    position: relative;
    right: -30px;
    bottom: -10px;
}
