border_radius(radius)
    -webkit-border-radius radius
    -moz-border-radius radius
    border-radius radius

opacity(n)
    opacity n
    filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

transform-scale(n)
    transform scale(n)
    -ms-transform scale(n)
    -webkit-transform scale(n)
    -o-transform scale(n)
    -moz-transform scale(n)

.nowrap
    white-space nowrap

.brand.fsq-brand {
    color: #fff;
    font-size: 16pt;
    line-height: 12pt;
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin: 0 6px 0 0;
}

.navbar__legal {
    margin: 0 40px 0 0;
    padding-left: 24px;
    background: url('/static/img/poweredByFoursquare_16x16.png') 0 50% no-repeat;
}

.form-search
    margin 7px 0 0 40px

    .search-query
        margin-right 1em

.search-results-container
    margin-top 35px

.search-results-count
    color #333
    font-size 12pt
    margin-left 1em


SEARCH_RESULT_PADDING = 15px
SEARCH_RESULT_ICON_SIZE = 44px
SEARCH_RESULT_HEIGHT = 120px
.search-result
    background-color #d9edf7
    border-color #bce8f1
    border_radius(4px)
    width 100%
    margin-bottom 10px
    box-sizing border-box
    padding SEARCH_RESULT_PADDING

    &.irrelevant
        background-color #fcf8e3
        border 1px solid #fbeed5

    p
        margin 0
        line-height 140%

.search-result-content
    position relative
    padding 0 0 0 SEARCH_RESULT_ICON_SIZE + SEARCH_RESULT_PADDING
    width 100%
    box-sizing border-box

.search-result-controls
    position static
    margin-top SEARCH_RESULT_PADDING
    display block
    width 100%

@media (min-width: 979px)
    .search-result-content
        padding-right 250px  // Ширина кнопок + отступ

    .search-result-controls
        position absolute
        top 50%
        right 0
        margin-top -22px  // Половина высоты кнопок (45/2)
        display inline-block
        width auto

.search-result-stats
    font-size 12pt
    margin-top 0.5em

    .icon
        opacity(0.75)
        position relative
        top 2px
        margin 0 3px 0 0

    .muted .icon
        opacity(0.35)

    span
        margin-right 0.7em
        white-space nowrap

.search-result-stats__checkins
    background: url('https://playfoursquare.s3.amazonaws.com/press/logo/icon-16x16.png') 0 2px no-repeat
    padding 0 0 0 22px
    display inline-block

@media (max-width: 480px)
    .search-result-controls
        margin-left -(SEARCH_RESULT_ICON_SIZE + SEARCH_RESULT_PADDING)

    .form-search
        margin 10px 0 0 0

        .search-query
            width 100%
            display block
            box-sizing border-box
            height 2em

            +.btn
                display block
                margin-top 10px

    .footer .footer__foursquare-powered
        display block
        margin 0 auto
        position static

.search-result-icon
    width SEARCH_RESULT_ICON_SIZE
    height SEARCH_RESULT_ICON_SIZE
    position absolute
    top 0
    left 0

.search-result-header
    margin 0 0 4px 0
    font-size 15pt

.search-result-description
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

.search-result-address
    margin-left 0.75em

.search-result.irrelevant + .search-result:not(.irrelevant) {
    margin-top: 24px;
}

.button-results-submit
    margin-top 20px

.infobox
    background-color #f9f9f9
    border_radius(5px)
    padding 18px
    box-sizing border-box
    font-size 15px

.footer__foursquare-powered {
    height: 80px;
    position: relative;
    right: -30px;
    bottom: -10px;
}
