{% extends "bootstrap.html" %}
{% block content %}
<div class="row">
	<div class="span4">
		<a href="#/magic" class="btn btn-large btn-success" type="button">
			<i class="icon-star icon-white"></i>
			Найти как <span class="nowrap">по-волшебству!</span>
		</a>
	</div>
	<div class="span8">
		<form class="form-search form__height_large">
			<input type="text" class="input-medium search-query">
			<a href="#/search" type="submit" class="btn">Найти по запросу</a>
		</form>
	</div>
</div>
<div class="row search-results-container">
	<div class="span12">
		<h2>Найдено по-волшебству <small class="search-results-count">5 объектов</small></h2>
		<div class="row search-results">
			<div class="span9">
				<table class="search-result irrelevant">
					<tr>
						<td class="search-result-icon-container">
							<img class="search-result-icon" src="https://foursquare.com/img/categories_v2/shops/gas_bg_44.png" alt="Housing development" title="Housing development">
						</td>
						<td>
							<a href="https://foursquare.com/v/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D1%8B--%D0%BB%D0%B0%D1%80%D0%B5%D0%BA-%D0%B2-%D0%B0%D1%80%D0%BA%D0%B0%D0%B4%D0%B0%D1%85%D0%B0%D1%83%D1%81%D0%B5/5068528ee4b08b705a5fe5dc"><h3 class="search-result-header">Хаус Авто Доктор</h3></a>
							<p>Gas Station / Garage</p>
							<span class="label search-result-label">96 (26)</span>
							<span class="search-result-stats muted">
								2 tips, 0 likes, 0 photos
							</span>
						</td>
						<td>
							<div class="btn-group pull-right search-result-controls" data-toggle="buttons-radio">
								<button type="button" class="btn btn-large">
									<i class="icon-home"></i>
									это дом
								</button>
								<button type="button" class="btn btn-large active">
									<i class="icon-ok"></i>
									все ОК
								</button>
							</div>
						</td>
					</tr>
				</table>
				<table class="search-result irrelevant">
					<tr>
						<td class="search-result-icon-container">
							<img class="search-result-icon" src="https://foursquare.com/img/categories_v2/travel/hotel_bg_44.png" alt="Housing development" title="Housing development">
						</td>
						<td>
							<a href="https://foursquare.com/v/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D1%8B--%D0%BB%D0%B0%D1%80%D0%B5%D0%BA-%D0%B2-%D0%B0%D1%80%D0%BA%D0%B0%D0%B4%D0%B0%D1%85%D0%B0%D1%83%D1%81%D0%B5/5068528ee4b08b705a5fe5dc"><h3 class="search-result-header">Дом Отдыха "Суханово"</h3></a>
							<p>Hotel</p>
							<span class="label search-result-label">48 (7)</span>
							<span class="search-result-stats muted">
								1 tips, 0 likes, 0 photos
							</span>
						</td>
						<td>
							<div class="btn-group pull-right search-result-controls" data-toggle="buttons-radio">
								<button type="button" class="btn btn-large">
									<i class="icon-home"></i>
									это дом
								</button>
								<button type="button" class="btn btn-large active">
									<i class="icon-ok"></i>
									все ОК
								</button>
							</div>
						</td>
					</tr>
				</table>
				<table class="search-result">
					<tr>
						<td class="search-result-icon-container">
							<img class="search-result-icon" src="https://foursquare.com/img/categories_v2/building/housingdevelopment_bg_44.png" alt="Housing development" title="Housing development">
						</td>
						<td>
							<a href="#"><h3 class="search-result-header">Квартира Комаровых</h3></a>
							<p>Residential Building (Apartment / Condo)</p>
							<span class="label search-result-label">24 (14)</span>
							<span class="search-result-stats muted">
								0 tips, 0 likes, 0 photos
							</span>
						</td>
						<td>
							<div class="btn-group pull-right search-result-controls" data-toggle="buttons-radio">
								<button type="button" class="btn btn-large active">
									<i class="icon-home"></i>
									это дом
								</button>
								<button type="button" class="btn btn-large">
									<i class="icon-ok"></i>
									все ОК
								</button>
							</div>
						</td>
					</tr>
				</table>
				<table class="search-result">
					<tr>
						<td class="search-result-icon-container">
							<img class="search-result-icon" src="https://foursquare.com/img/categories_v2/building/default_bg_44.png" alt="Building" title="Housing development">
						</td>
						<td>
							<a href="#"><h3 class="search-result-header">КвартираЛыковой-Шипиловская,44</h3></a>
							<p>Building</p>
							<span class="label search-result-label">1 (1)</span>
							<span class="search-result-stats muted">
								0 tips, 0 likes, 0 photos
							</span>
						</td>
						<td>
							<div class="btn-group pull-right search-result-controls" data-toggle="buttons-radio">
								<button type="button" class="btn btn-large active">
									<i class="icon-home"></i>
									это дом
								</button>
								<button type="button" class="btn btn-large">
									<i class="icon-ok"></i>
									все ОК
								</button>
							</div>
						</td>
					</tr>
				</table>
				<table class="search-result">
					<tr>
						<td class="search-result-icon-container">
							<img class="search-result-icon" src="https://foursquare.com/img/categories_v2/building/housingdevelopment_bg_44.png" alt="Housing development" title="Housing development">
						</td>
						<td>
							<a href="#"><h3 class="search-result-header">Чисто У Маратика На Хате</h3></a>
							<p>Residential Building (Apartment / Condo)</p>
							<span class="label search-result-label">5 (2)</span>
							<span class="search-result-stats muted">
								4 tips, 0 likes, 0 photos
							</span>
						</td>
						<td>
							<div class="btn-group pull-right search-result-controls" data-toggle="buttons-radio">
								<button type="button" class="btn btn-large active">
									<i class="icon-home"></i>
									это дом
								</button>
								<button type="button" class="btn btn-large">
									<i class="icon-ok"></i>
									все ОК
								</button>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div class="span3 infobox muted">
				Тут место для всякой метадаты запроса, информации об истраченных лимитах и прочего.
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span9">
		<a href="#/go!" class="btn btn-large btn-info pull-right button-results-submit" type="button">
			Отправить 3 мест на проверку
		</a>
	</div>
</div>
<footer class="row footer">
	<img class="pull-right footer__foursquare-powerded" src="https://playfoursquare.s3.amazonaws.com/press/logo/poweredByFoursquare_gray.png">
</footer>
{% endblock %}
