{% extends "bootstrap.html" %}
{% block content %}
<div class="row">
	<div class="span">
		<a href="#/magic" class="btn btn-large btn-success" type="button">
			<i class="icon-star icon-white"></i>
			Найти как <span class="nowrap">по-волшебству!</span>
		</a>
	</div>
	<div class="span">
		<form class="form-search form__height_large">
			<input type="text" class="input-medium search-query">
			<a href="#/search" type="submit" class="btn">Найти по запросу</a>
		</form>
	</div>
</div>
<div class="row search-results-container">
	<div class="span12">
		<h3>Найдено по-волшебству <small class="search-results-count nowrap">{{ venues|length }} объектов</small></h3>
		<div class="row search-results">
			<div class="span9">
				{% for venue in venues %}
				{% set relevant = loop.index0 > 3 %}
				<div class="row-fluid search-result{% if not relevant %} irrelevant{% endif %}">
					<div class="search-result-content">
						<img class="search-result-icon" src="https://foursquare.com/img/categories_v2/shops/gas_bg_44.png" alt="Housing development" title="Housing development">
						<h4 class="search-result-header"><a href="https://foursquare.com/">Хаус Авто Доктор</a></h4>
						<div class="search-result-description">
							<span>Gas Station / Garage / Gas Station / Garage</span>
							{% if loop.index0 % 2 %}<span class="search-result-address muted">Комсомольская пл., 3</span>{% endif %}
						</div>
						<div class="search-result-stats">
							<span class="search-result-stats__checkins">
								96
							</span>
							<span>
								<i class="icon-user icon"></i>
								26
							</span>
							<span>
								<i class="icon-comment icon"></i>
								2
							</span>
							<span class="muted">
								<i class="icon-heart icon"></i>
								0
							</span>
							<span class="muted">
								<i class="icon-camera icon"></i>
								0
							</span>
						</div>
						<div class="btn-group search-result-controls" data-toggle="buttons-radio">
							<button title="{{ venue.relevance }}" type="button" class="btn btn-large{% if relevant %} active{% endif %}">
								<i class="icon-home"></i>
								это дом
							</button>
							<button type="button" class="btn btn-large{% if not relevant %} active{% endif %}">
								<i class="icon-ok"></i>
								все ОК
							</button>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="span3 infobox muted">
				Тут место для всякой метадаты запроса, информации об истраченных лимитах и прочего.
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span9">
		<a href="#/go!" class="btn btn-large btn-info pull-right button-results-submit" type="button">
			Отправить {{ venues|length - 3 }} мест на проверку
		</a>
	</div>
</div>
<footer class="row footer">
	<img class="pull-right footer__foursquare-powered" src="https://playfoursquare.s3.amazonaws.com/press/logo/poweredByFoursquare_gray.png">
</footer>
{% endblock %}
