<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>4squaredaway</title>
<style>
	table {
		border-collapse: collapse;
	}
	td, th {
		border: 1px solid #333;
		padding: 3px;
	}
	ul {
		margin: 5px 5px 10px 0;
	}
	img {
		width: 32px;
		height: 32px;
	}
	.irrelevant td {
		background: #ddd;
	}
</style>
<table>
	<tr>
		<th></th>
		<th>Name</th>
		<th>Relevance</th>
		<th>Checkins</th>
		<th>Users</th>
		<th>Tips</th>
		<th>Likes</th>
		<th>Specials</th>
		<th>Location</th>
	</tr>
	{% for venue in venues %}
	<tr{% if venue.relevance >= THRESHOLD %} class="irrelevant"{% endif %}>
		<td>
			<img src="{{ venue.icon }}" title="{{ venue.categories }}">
		</td>
		<td><a href="{{ venue.url }}">{{ venue.name }}</td>
		<td><b>{{ venue.relevance }}</b></td>
		<td>{{ venue.checkins }}</td>
		<td>{{ venue.users }}</td>
		<td>{{ venue.tips }}</td>
		<td>{{ venue.likes }}</td>
		<td>{{ venue.specials }}</td>
		<td>{{ venue.city }} {{ venue.address }}</td>
	</tr>
	{% endfor %}
<table>
